<h1>All My Gadgets</h1>

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Buy Date</th>
    <th>Photo</th>
    <th>Details</th>
  </tr>

<% @gadgets.each do |gadget| %>
  <tr>
    <td><%= gadget.name %></td>
    <td><%= gadget.brand %></td>
    <td><%= gadget.buy_date %></td>
    <td><%= image_tag gadget.photo.url(:thumb) %></td>
    <td><%= link_to "Show", gadget %></td>
  </tr>
<% end %>
</table>

<%= link_to "New gadget", new_gadgets_path %>
