<h1><%= @gadget.name %></h1>

<p>Name: <%= @gadget.name %></p>
<p>Brand: <%= @gadget.brand %></p>
<p>Buy Date: <%= @gadget.buy_date %></p>
<p>Photo: <%= image_tag @gadget.photo.url(:thumb) %></p>

<%= link_to "List gadgets", '/' %>
